<template>
  <section>
     <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h3 class="title label white-text">Search</h3>
          <div class="subtitle field">
            <p class="control">
                <input class="input" type="text" placeholder="Search for anything ..." v-model="searchString" @keyup.enter="search">           
            </p>
          </div>
        <br><br>
      </div>
    </div>
    <div class="parallax teal lighten-2"></div>
  </div>
    <section class="row">
      <div class="col s10 offset-s1">
        <h1 class="title">Browse</h1>
        <div class="row">
          <div class="col m3">
            <div class="card">
              <div class="card-image">
                <img class="responsive-img" src="http://via.placeholder.com/400x300" alt="Image">
              </div>
              <div class="card-content">
                <a hfef="#">Lifts</a>
              </div>
            </div>
          </div>
          <div class="col m3">
            <div class="card">
              <div class="card-image">
                <img class="responsive-img" src="http://via.placeholder.com/400x300" alt="Image">
              </div>
              <div class="card-content">
                <a hfef="#">Tractors</a>
              </div>
            </div>
          </div>
          <div class="col m3">
            <div class="card">
              <div class="card-image">
                <img class="responsive-img" src="http://via.placeholder.com/400x300" alt="Image">
              </div>
              <div class="card-content">
                <a hfef="#">Snowmobiles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
export default {
  mounted () {
    window.$('.parallax').parallax()
  },
  data () {
    return {
      searchString: ''
    }
  },
  methods: {
    search () {
      this.$router.push({ path: 'search', query: { s: this.searchString } })
    }
  }
}
</script>

<style scoped>
.parallax-container {
  height: 300px;
}
</style>
