<template>
  <div class="section">
    <div class="row">
      <div class="col s12 l3">
        <ul class="collection with-header">
          <li class="collection-header"><h5>Catagories</h5></li>
          <li class="collection-item">
            <p>
              <input type="checkbox" id="tag1"/>
              <label for="tag1">Part Catalogs</label>
            </p>
            <p>
              <input type="checkbox" id="tag2"/>
              <label for="tag2">Assembly Instructions</label>
            </p>
          </li>
          <li class="collection-header"><h5>Tags</h5></li>
          <li class="collection-item">
            <div class="input-field">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Product Type</label>
            </div>
          </li>
          <li class="collection-item">
            <div class="input-field">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">English</option>
                <option value="2">Fre cb</option>
              </select>
              <label>Language</label>
            </div>
          </li>
          <li class="collection-item">
            <a class="waves-effect waves-light btn full-width"> Reset all filters</a>
          </li>
        </ul>
      </div>
      <div class="wrapper col s12 m12 l9"> <!-- Note that "m8 l9" was added -->
       <row>
         <a class="waves-effect waves-light btn-flat teal white-text">All</a>
         <a class="waves-effect waves-light btn">Catalogs</a>
         <a class="waves-effect waves-light btn">Parts</a>
         <a class="waves-effect waves-light btn">Assets</a>
       </row>
       <br>
       <br>
       <row>
         <p>
          <h4>Catalogs: 3 result</h4>
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Identifier</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                 <td><i class="material-icons">mode_edit</i></td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                 <td><i class="material-icons">mode_edit</i></td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                 <td><i class="material-icons">mode_edit</i></td>
              </tr>
            </tbody>
          </table>
         </p>
       </row>
       <row>
         <p>
          <h4>Parts: 3 result</h4>
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Part Number</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                 <td><i class="material-icons">mode_edit</i></td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                 <td><i class="material-icons">mode_edit</i></td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td><i class="material-icons">mode_edit</i></td>
              </tr>
            </tbody>
          </table>
         </p>
       </row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted () {
    window.$('select').material_select()
  }
}
</script>

<style scoped>
  .full-width {
    width: 100%;
  }
</style>
