<template>
  <div>
    <h2>Authoring Dashboard</h2>
    <div class="row">
      <div class="col s6">
        <div class="card-panel teal">
          <h5 class="white-text">Content</h5>
          <h4 class="white-text">3,456</h4>
        </div>
      </div>
      <div class="col s6">
        <div class="card-panel blue">
          <h5 class="white-text">Parts</h5>
          <h4 class="white-text">78k</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Popular Content</span>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td><i class="material-icons">mode_edit</i></td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td><i class="material-icons">mode_edit</i></td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td><i class="material-icons">mode_edit</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
       </div>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
