<template>
  <div class="section">
    <div class="row">
      <aside class="col s12 l3">
        <ul id="slide-out" class="side-nav fixed">
          <li><a class="subheader">General</a></li>
          <router-link tag="li" to="dashboard"><a>Dashboard</a></router-link>
          <li><a class="subheader">Administration</a></li>
          <li><a>Users</a></li>
          <li><a>User Groups</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      
      </aside>
      <div class="wrapper col s12 m12 l9"> <!-- Note that "m8 l9" was added -->
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    mounted () {
      window.$('.button-collapse').sideNav()
    }
  }
</script>

<style scoped>
  .side-nav {
    margin-top: 65px;
  }
</style>
