<template>
  <div>
    <h2>Admin Dashboard</h2>

    <div class="row">
      <div class="col s4">
        <div class="card-panel teal">
          <h5 class="white-text">Users</h5>
          <h4 class="white-text">3,456</h4>
        </div>
      </div>
      <div class="col s4">
        <div class="card-panel blue">
          <h5 class="white-text">User Groups</h5>
          <h4 class="white-text">12</h4>
        </div>
      </div>
      <div class="col s4">
        <div class="card-panel orange">
          <h5 class="white-text">Organizations</h5>
          <h4 class="white-text">4</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
