<template>
  <div id="app">
    <ul id="profileMenu" class="dropdown-content">
      <li><a href="#!">Notifications</a></li>
      <li><a href="#!">Preferences</a></li>
      <li class="divider"></li>
      <li><a href="#!">Logout</a></li>
    </ul>
    <nav class="nav-fixed">
      <div class="nav-wrapper">
        <a class="brand-logo center">Logo</a>
        <a data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a class="dropdown-button" href="#!" data-activates="profileMenu">Profile
            <i class="material-icons right">arrow_drop_down</i>
          </a></li>
          <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <router-link tag="li" to="/" exact v-on:click.native="closeMenu"><a>Home</a></router-link>
          <router-link tag="li" to="/admin" v-on:click.native="closeMenu"><a>Admin</a></router-link>
          <router-link tag="li" to="/authoring" v-on:click.native="closeMenu"><a>Authoring</a></router-link>
          <li><a href="http://support.digabit.com/" target="_blank" v-on:click.native="closeMenu">Help</a></li>
          <li class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    mounted () {
      window.$('.button-collapse').sideNav({
        menuWidth: 300,
        edge: 'left',
        closeOnClick: true,
        draggable: true
      })
      window.$('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false,
        hover: true,
        gutter: 0,
        belowOrigin: true,
        alignment: 'left',
        stopPropagation: false
      })
    },

    methods: {
      closeMenu () {
        window.$('button-collapse').sideNav('hide')
      }
    }
  }
</script>

<style scoped>
  .submenu {
    margin-left: 1em;
  }
  .side-nav {
    z-index: 1000;
  }
</style>
